<a href="https://colab.research.google.com/github/Moris3122/Card/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DIA 1**

### **Variables que pueden cambiar con el tiempo**

In [ ]:
edad = 30
hora = 12
print(edad, hora)

**Modificamos las variables para demostrar que pueden**

In [ ]:
edad = 31
hora = 15
print(edad, hora)

31 15

**Funciones**

In [2]:

def mi_funcion(parametro1, parametro2):
    # Código de la función
    resultado = parametro1 + parametro2
    return resultado

In [3]:

def mi_funcion(parametro1, parametro2):
    # Código de la función
    resultado = parametro1 + parametro2
    return resultado
    print(resultado)

### **Llamamos a la función**

In [ ]:
valor1 = 10
valor2 = 20
resultado = mi_funcion(valor1, valor2)
print("Resultado de la función:", resultado)

### **Funciones anónimas (lambda)**

In [ ]:
saluda = lambda: print("Hola")
saluda()

### **Sintaxis básica**

In [ ]:
condicion = True

### **Ejemplo de estructura de control if-else**

In [ ]:
if condicion:
    print("La condición es verdadera")
else:
    print("La condición es falsa")

### **Comentarios**

### **Esto es un comentario de una línea**

In [ ]:

"""
Esto es un comentario
de varias líneas
"""

'\nEsto es un comentario\nde varias líneas\n'

### **DIA 2**

### **Numbers**

In [ ]:
edad = 30
pi = 3.14
salario = 1500.50
print(edad, pi, salario)

numero_grande = 1e6  # 1 millón
numero_pequeno = 1e-6  # 0.000001
print(numero_grande, numero_pequeno)

### **Type annotations for numbers**

In [ ]:
edad: int = 30
pi: float = 3.14
salario: float = 1500.50
print(edad, pi, salario)

### **Strings**

In [ ]:
nombre = "Sustantiva"
apellido = 'Academy'
print(nombre, apellido)

Sustantiva Academy

### **Type annotation for string**

In [ ]:
mensaje: str = "Hola, ¿cómo estás?"
print(mensaje)

### **String concatenation**

In [ ]:
saludo = "Hola, " + nombre + " " + apellido + "!"
print(saludo)

Hola, Sustantiva Academy!

### **f-strings**

In [ ]:
saludo_fstring = f"Hola, {nombre} {apellido}!"
print(saludo_fstring)

### **String methods**

In [ ]:
print(len(nombre))
print(nombre.upper())
print(nombre.lower())
print(nombre.split('a'))

10
SUSTANTIVA
sustantiva
['Sust', 'ntiv', '']

### **Dictionaries**

In [ ]:
persona = {
    "nombre": "Fulanita",
    "puntaje": 9567,
    "cursoFavorito": {
        "nombre": "Básico de Python",
        "clases": 30,
        "duracion": "2 horas"
    }
}
print(persona)

### **Accessing dictionary elements**

In [ ]:
print(persona["nombre"])
print(persona["cursoFavorito"]["nombre"])
print(persona["puntaje"])

### **Booleans**

In [ ]:
curso_completado = True
lectura_completada = False

### **Checking data types**

In [ ]:
print(type("#SustantivaCursoPython"))
print(type(30))
print(type({}))
print(type([]))

### **Dia 3**

### **/ (División):**

Se asigna a variable result que es de tipo float 10 dividido por 3 y luego se imprime el resultado

In [ ]:
result = 10 / 3
print(result)  # Output: 3.3333333333333335

### **False:**

In [ ]:
flag = False
print(flag)  # Output: False

### **class:**

In [ ]:
class MyClass:
    def __init__(self, name):
        self.name = name

obj = MyClass("Example")
print(obj.name)  # Output: Example

Example

### **finally:**

In [ ]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print("Error: division by zero")
finally:
    print("Finally block executed")

Error: division by zero
Finally block executed

### **is:**

In [ ]:
a = [1, 2, 3]
b = a
print(a is b)  # Output: True

### **return:**

In [ ]:
def add_numbers(x, y):
    return x + y

result = add_numbers(3, 5)
print(result)  # Output: 8

8